@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url("/static/planner/Comfortaa-Regular.ttf") format("truetype");
}

.navbar-brand {
    font-family: "Comfortaa"
}

.navbar-nav {
    font-family: "Comfortaa"
}

a {
    text-decoration: none;
}

/* Prevent long URLs in source field breaking layout */
#mealModal td {
    word-break: break-word;
}

/* Selectize dark mode */
html[data-bs-theme="dark"] div.selectize-input {
    background-color: field;
    border-color: rgb(133, 133, 133);
}

html[data-bs-theme="dark"] div.selectize-input input {
    color: fieldtext;
}


html[data-bs-theme="dark"] div.selectize-input div.item {
    background: #212529 !important;
    color: fieldtext !important;
}

html[data-bs-theme="dark"] div.selectize-dropdown {
    border-color: #212529;
}

html[data-bs-theme="dark"] div.selectize-dropdown-content {
    background-color: #212529;
}

html[data-bs-theme="dark"] div.selectize-dropdown-content div {
    color: fieldtext !important;
}

html[data-bs-theme="dark"] div.selectize-dropdown-content div.active {
    background-color: #2b3035;
}

/* Better table background color for rows that are active or hovered on in
Bootstrap dark theme, from .dark-table */

html[data-bs-theme="dark"] .table {
    --bs-table-active-bg: #373b3e;
    --bs-table-hover-bg: #323539;
}
