<script>
  $('#id_categories').selectize({
    delimiter: ';',
    createOnBlur: true,
    onItemAdd: function () {
      // Close dropdown when choosing an option
      this.close();
    }
  });
</script>
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="mealModalLabel">{{ object.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form id="update-meal" hx-post="{% url 'planner:editmeal' pk=object.pk %}" hx-target="#weeks">{% csrf_token %}
      <table class="table">
        {{ form.as_table }}
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="update-meal" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
  </div>
</div>
