{% load static %}
<script>
  var select = $('#myselect-{{ day.date.isoformat }}').selectize({
    persist: false,
    delimiter: ';',
    create: true,
    createOnBlur: true,
    openOnFocus: false,
    closeAfterSelect: true,
    // Use the original ordering of the <option> elements, but hide those that do not match at all.
    // Workaround from https://github.com/selectize/selectize.js/issues/218
    score: function (search) {
      var score = this.getScoreFunction(search);
      return function (item) {
        return score(item) ? 1 : 0;
      };
    },
    render: {
      option: function (item, escape) {
        return "<div class='option'><span>" + item.name + "</span><span style='float: right; color: #FF0000'>&nbsp;" + item.num_days + "</span></div>"
      }
    }
  });

  // The selectize element and the buttons are hidden when the page is loaded so that they are not visible for a brief
  // second before the javascript is executed. After selectized has done its work, show these elements again.
  $('.hidden').removeAttr('hidden');

  // Focus the input box
  select[0].selectize.focus();
</script>
<form id="update-day-{{ day.date.isoformat }}" method="post">
  {% csrf_token %}
  <select name="select" id="myselect-{{ day.date.isoformat }}" class="hidden" multiple="multiple" hidden>
    {% for meal_name in todays_meal_names %}
    <option value="{{ meal_name }}" selected="selected">{{ meal_name }}</option>
    {% endfor %}
    {% for meal in database_meals %}
    <option data-data='{"name": "{{ meal.name }}", "num_days": "{{ meal.num_days }}"}'>{{ meal.name }}</option>
    {% endfor %}
  </select>
  <button type="button" class="btn btn-secondary hidden cancel-edit-day" hx-target="td.day-{{ day.date.isoformat }}"
    hx-get="{% url 'planner:show_day' date=day.date %}" hidden>Cancel</button>
  <button type="submit" form="update-day-{{ day.date.isoformat }}" class="btn btn-primary hidden"
    hx-post="{% url 'planner:edit_day' date=day.date.isoformat %}" hx-target="td.day-{{ day.date.isoformat }}"
    hidden>Save changes</button>
</form>
