<div class="day-{{ day.date.isoformat }}" style="height: 100%" {% if not day.meals.all %}
  hx-get="{% url 'planner:edit_day' date=day.date.isoformat %}" hx-trigger="click"
  hx-target="td.day-{{ day.date.isoformat }}" {% endif %}>
  {% for meal in day.meals.all %}
  {% if meal.is_recipe %}
  <a class="text-primary" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
    hx-get="{% url 'planner:showmeal' pk=meal.pk%}" hx-target=".modal-dialog">{{ meal.name }}</a>
  {% else %}
  <a class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
    hx-get="{% url 'planner:editmeal' pk=meal.pk%}" hx-target=".modal-dialog">{{ meal.name }}</a>
  {% endif %}
  {% endfor %}
</div>
