{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js" integrity="sha512-pF+DNRwavWMukUv/LyzDyDMn8U2uvqYQdJN0Zvilr6DDo/56xPDZdDoyPDYZRSL4aOKO/FGKXTpzDyQJ8je8Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="{% static 'planner/day.js' %}"></script>
{% endblock %}

{% block content %}
<form action="{% url 'planner:day' date=day.date %}" method="post">
{% csrf_token %}
<select name="select" id="myselect" multiple="multiple">
    {% for meal_name in todays_meal_names %}
      <option value="{{ meal_name }}" selected="selected">{{ meal_name }}</option>
    {% endfor %}
    {% for meal_name in database_meal_names %}
        <option value="{{ meal_name }}">{{ meal_name }}</option>
    {% endfor %}
</select>
<input type="submit" value="Ok">
</form>
<form action="{% url 'planner:index' %}" method="get">
  <input type="submit" value="Cancel">
</form>
{% endblock %}
