{% extends 'base.html' %}


{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'planner/index.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <form class="d-flex" action="{% url 'planner:update_weeks' %}" method="post">
      {% csrf_token %}
      <div class="p-2 m-2">Weeks back:</div>
      <select class="p-2 me-2 mt-2 mb-2" name="first-week-offset">
        {% for first_week_offset in first_week_offsets %}
          {% if user.first_week_offset == first_week_offset %}
            <option value="{{ first_week_offset }}" selected>{{ first_week_offset}}</option>
          {% else %}
            <option value="{{ first_week_offset }}">{{ first_week_offset}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <div class="p-2 me-2 mt-2 mb-2">Weeks to display:</div>
      <select class="p-2 me-4 mt-2 mb-2" name="number-of-weeks-to-show">
        {% for week_count in numbers_of_weeks_to_show %}
          {% if user.number_of_weeks_to_show == week_count %}
            <option value="{{ week_count }}" selected>{{ week_count}}</option>
          {% else %}
            <option value="{{ week_count }}">{{ week_count}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input class="btn btn-outline-success mt-2 mb-2" type="submit" value="Ok">
    </form>
    <div class="row">
      {% for week in weeks %}
        <div class="col-xl-4 col-md-6 col-sm-12">
          <table class="table table-bordered">
            <tbody>
              {% for day in week %}
                {% now "Y-m-d" as todays_date %}
                {% if day.date.isoformat == todays_date %}
                  <tr class="table-active">
                {% else %}
                  <tr>
                {% endif %}
                  <td class="text-nowrap" style="width:1%">{{day.weekday_name}}<br>{{ day.date.isoformat }}</td>
                  <td>
                    {% for meal in day.meals.all %}
                      {% if meal.is_created %}
                        <a class="exists" href="{% url 'planner:showmeal' pk=meal.pk %}">{{ meal.name }}</a>
                      {% else %}
                        <a class="does-not-exist" href="{% url 'planner:updatemeal' pk=meal.pk %}">{{ meal.name }}</a>
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td class="align-middle" style="width:1%" >
                    <a class="btn btn-light" href="{% url 'planner:day' date=day.date %}"><i class="bi bi-pencil"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
