{% extends 'base.html' %}

{% block content %}
{% for week in weeks %}
  <p>
    <table class="table table-bordered">
      {% for day in week %}
        <tr>
          <td>{{day.weekday_name}}<br>{{ day.date.isoformat }}</td>
          <td>
            {% for meal in day.meals.all %}
              <a href="{% url 'createmeal' %}">{{ meal.name }}</a>
            {% endfor %}
          </td>
          <td>
            <a class="btn btn-light" href="{% url 'showday' date_=day.date %}"><i class="bi bi-pencil"></i></a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </p>
{% endfor %}
{% endblock %}
