<div id="weeks" class="row">
  {% for week in weeks %}
  <div class="col-xl-4 col-md-6 col-sm-12">
    <table class="table table-bordered">
      <tbody>
        {% for day in week %}
        {% now "Y-m-d" as todays_date %}
        {% if day.date.isoformat == todays_date %}
        <tr class="table-active">
          {% else %}
        <tr>
          {% endif %}
          <td class="text-nowrap" style="width:1%">{{day.weekday_name}}<br>{{ day.date.isoformat }}</td>
          <td class="day-{{ day.date.isoformat }}" hx-post="{% url 'planner:drag' date=day.date.isoformat %}"
            hx-trigger="dragstart,drop" hx-ext="event-header" hx-target="#weeks" draggable="true"
            ondragover="event.preventDefault()">
            {% include 'planner/modals/show_day.html' with day=day %}
          </td>
          <td class="align-middle" style="width:1%">
            <a class="btn btn-light day-{{ day.date.isoformat }} edit-day" href="#"
              hx-get="{% url 'planner:edit_day' date=day.date.isoformat %}"
              hx-target="td.day-{{ day.date.isoformat }}"><i class="bi bi-pencil"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
